<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardFilePerms</key>
	<integer>-32348</integer>
	<key>Version</key>
	<integer>2</integer>
	<key>RecordCount</key>
	<integer>1605</integer>
	<key>StandardDirectoryPerms</key>
	<integer>16877</integer>
	<key>CreatorToolCommandLine</key>
	<string>"ZipTool" "-c" "10485760" "-s" "-" "-m" "deflate" "extDirizpllemojenwdfhy" "lpi1219108243372753890"</string>
	<key>CreatorToolUUID</key>
	<string>A814DEA2-5E10-3CD0-821C-7D9D2B0D6C63</string>
	<key>TotalUncompressedBytes</key>
	<integer>352977819</integer>
</dict>
</plist>
