<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>aazhanaa@icloud.com</string>
	<key>artistId</key>
	<integer>575846822</integer>
	<key>artistName</key>
	<string>Shenzhen Zhenai.com Information Technology Co., Ltd.</string>
	<key>bundleDisplayName</key>
	<string>珍爱网</string>
	<key>bundleShortVersionString</key>
	<string>7.1.0</string>
	<key>bundleVersion</key>
	<string>2</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>aazhanaa@icloud.com</string>
			<key>DSPersonID</key>
			<integer>20078920938</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>梁</string>
			<key>LastName</key>
			<string>朝伟</string>
			<key>PurchaserID</key>
			<integer>20078920938</integer>
			<key>UserName</key>
			<string>朝伟梁</string>
		</dict>
		<key>purchaseDate</key>
		<string>2021-02-21T14:43:25Z</string>
	</dict>
	<key>copyright</key>
	<string>©2005-2021  深圳珍爱网信息技术有限公司</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>社交</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>itemId</key>
	<integer>575846819</integer>
	<key>itemName</key>
	<string>珍爱网-成就天下姻缘</string>
	<key>kind</key>
	<string>software</string>
	<key>nameTranscriptions</key>
	<dict>
		<key>zh-Hans-CN</key>
		<array>
			<string>珍爱网-成就天下姻缘</string>
			<string>zhēn ài wǎng-chéng jiù tiān xià yīn yuán</string>
			<string>珍愛網-成就天下姻緣</string>
		</array>
	</dict>
	<key>playlistName</key>
	<string>Shenzhen Zhenai.com Information Technology Co., Ltd.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2021-02-21T14:43:25Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.GAMBLING_CONTESTS and 频繁/强烈的成人/性暗示题材</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-11-29T04:07:22Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143465</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is3-ssl.mzstatic.com/image/thumb/Purple124/v4/62/13/68/6213683e-6ed0-b81f-851c-a30be1ad3be0/AppIcon-0-0-1x_U007emarketing-0-0-0-4-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>www.zhenaidefault.com</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>835343283</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>11849647</integer>
		<integer>12796834</integer>
		<integer>13208668</integer>
		<integer>13648779</integer>
		<integer>14286431</integer>
		<integer>14710622</integer>
		<integer>15755943</integer>
		<integer>16460663</integer>
		<integer>71932684</integer>
		<integer>82232843</integer>
		<integer>84923279</integer>
		<integer>235382648</integer>
		<integer>259283055</integer>
		<integer>269422633</integer>
		<integer>296322636</integer>
		<integer>329652656</integer>
		<integer>443962676</integer>
		<integer>498982668</integer>
		<integer>524392634</integer>
		<integer>573483269</integer>
		<integer>578157922</integer>
		<integer>596422846</integer>
		<integer>642462698</integer>
		<integer>649263061</integer>
		<integer>670262715</integer>
		<integer>693014293</integer>
		<integer>712772801</integer>
		<integer>743842642</integer>
		<integer>757763733</integer>
		<integer>785833733</integer>
		<integer>811395142</integer>
		<integer>811486524</integer>
		<integer>811684479</integer>
		<integer>811977510</integer>
		<integer>812012375</integer>
		<integer>812182787</integer>
		<integer>812248790</integer>
		<integer>812476710</integer>
		<integer>812673739</integer>
		<integer>812810333</integer>
		<integer>812988407</integer>
		<integer>813086833</integer>
		<integer>813244716</integer>
		<integer>813387605</integer>
		<integer>813490376</integer>
		<integer>813935968</integer>
		<integer>814380248</integer>
		<integer>814987467</integer>
		<integer>815309527</integer>
		<integer>815747776</integer>
		<integer>815894009</integer>
		<integer>816057661</integer>
		<integer>816610830</integer>
		<integer>816781845</integer>
		<integer>816923181</integer>
		<integer>817162587</integer>
		<integer>817219351</integer>
		<integer>817673378</integer>
		<integer>817896270</integer>
		<integer>817954097</integer>
		<integer>818221177</integer>
		<integer>818263549</integer>
		<integer>818300772</integer>
		<integer>818735858</integer>
		<integer>818814126</integer>
		<integer>818905825</integer>
		<integer>818977874</integer>
		<integer>818997461</integer>
		<integer>819030046</integer>
		<integer>819077175</integer>
		<integer>819245198</integer>
		<integer>819690952</integer>
		<integer>819885475</integer>
		<integer>820092734</integer>
		<integer>820174879</integer>
		<integer>820364331</integer>
		<integer>820437290</integer>
		<integer>820574312</integer>
		<integer>821084425</integer>
		<integer>821329938</integer>
		<integer>821459907</integer>
		<integer>821748842</integer>
		<integer>822033242</integer>
		<integer>822476520</integer>
		<integer>822740778</integer>
		<integer>822762426</integer>
		<integer>822972783</integer>
		<integer>822987809</integer>
		<integer>823171573</integer>
		<integer>823381689</integer>
		<integer>823976670</integer>
		<integer>824093290</integer>
		<integer>824257535</integer>
		<integer>824472601</integer>
		<integer>824824875</integer>
		<integer>825362047</integer>
		<integer>825411882</integer>
		<integer>825426006</integer>
		<integer>825567548</integer>
		<integer>825588608</integer>
		<integer>825805093</integer>
		<integer>825833605</integer>
		<integer>826081962</integer>
		<integer>826356788</integer>
		<integer>826563903</integer>
		<integer>826734098</integer>
		<integer>826745729</integer>
		<integer>826863157</integer>
		<integer>826895249</integer>
		<integer>826920485</integer>
		<integer>827091375</integer>
		<integer>827141403</integer>
		<integer>827265959</integer>
		<integer>827494549</integer>
		<integer>827526855</integer>
		<integer>827685989</integer>
		<integer>827983440</integer>
		<integer>828189855</integer>
		<integer>828262417</integer>
		<integer>828368809</integer>
		<integer>828618174</integer>
		<integer>828713532</integer>
		<integer>829062337</integer>
		<integer>829075835</integer>
		<integer>829346432</integer>
		<integer>829362750</integer>
		<integer>829372804</integer>
		<integer>829445386</integer>
		<integer>829560005</integer>
		<integer>829649747</integer>
		<integer>829879137</integer>
		<integer>829990598</integer>
		<integer>830031773</integer>
		<integer>830042896</integer>
		<integer>830276828</integer>
		<integer>830599946</integer>
		<integer>830696835</integer>
		<integer>830763220</integer>
		<integer>830845183</integer>
		<integer>831055166</integer>
		<integer>831198742</integer>
		<integer>831342658</integer>
		<integer>831411855</integer>
		<integer>831548073</integer>
		<integer>831813517</integer>
		<integer>832014707</integer>
		<integer>832233365</integer>
		<integer>832434651</integer>
		<integer>832579357</integer>
		<integer>832707859</integer>
		<integer>832917252</integer>
		<integer>832948707</integer>
		<integer>833290796</integer>
		<integer>833316701</integer>
		<integer>833391353</integer>
		<integer>833621327</integer>
		<integer>833649972</integer>
		<integer>833822840</integer>
		<integer>833867521</integer>
		<integer>833958875</integer>
		<integer>834081299</integer>
		<integer>834120977</integer>
		<integer>834268380</integer>
		<integer>834822930</integer>
		<integer>834873251</integer>
		<integer>835189646</integer>
		<integer>835235324</integer>
		<integer>835274378</integer>
		<integer>835343283</integer>
		<integer>835394631</integer>
		<integer>835533411</integer>
		<integer>835586562</integer>
		<integer>835727354</integer>
		<integer>835999852</integer>
		<integer>836090471</integer>
		<integer>836192409</integer>
		<integer>836236929</integer>
		<integer>836256647</integer>
		<integer>836417918</integer>
		<integer>836490984</integer>
		<integer>836919059</integer>
		<integer>836932709</integer>
		<integer>836978435</integer>
		<integer>837262931</integer>
		<integer>837404559</integer>
		<integer>837522400</integer>
		<integer>837537505</integer>
		<integer>837632477</integer>
		<integer>837777238</integer>
		<integer>838002244</integer>
		<integer>838425978</integer>
		<integer>838517311</integer>
		<integer>839292010</integer>
		<integer>839681732</integer>
		<integer>839844638</integer>
		<integer>840054804</integer>
		<integer>840158507</integer>
		<integer>840256260</integer>
		<integer>840291708</integer>
		<integer>840314801</integer>
	</array>
	<key>storeCohort</key>
	<string>7|date=1613917800000&amp;sf=143465&amp;pgtp=Software&amp;pgid=575846819&amp;prpg=Search_17303699-d647-43db-9b74-1681df5db2a1&amp;ctxt=App%20Store</string>
	<key>userName</key>
	<string>朝伟梁</string>
	<key>vendorId</key>
	<integer>1734662</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
